<section class="w3-container w3-center w3-content" style="max-width:600px"> 
    <h2 class="w3-wide">ProductList</h2>
    <table style="width: 100%;" border=".08" cellpadding="0" cellspacing="0" >
        <tr>
          <th>details</th>
          <th>product</th>
          <th colspan="2">desc</th>
        </tr>
        <tr>
            <tr *ngFor="let data of products">
           
                <td><a [routerLink]="['/products',data.id]">Details</a></td>
                <td>{{data.name }}</td>
                <td>{{data.desc}}</td>
                <td><a [routerLink]="['/products',data.id,'edit']">Edit</a></td>
            </tr>
  </table>

   </section>
